<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/header.ejs") %>
		
		
		<main>
			<div class="new-button">
				<a class="new" href="/animals/new"><button>Add a New Animal</button></a>

			</div>
			<div class="index-div"> 
				<% for(animal of animals) { %>
				<article class="index-article">
					<h2>
						<a href="/animals/<%= animal._id %>"
							><i><%= animal.name %></i></a
						>
					</h2>
					<label>Conservation Status:</label><%= animal.extinct ? "Extinct" : "Existing" %>
                    <br />
					<label>Location:</label> <%= animal.location %>
                    <br />
				</article>
				<% } %>
			</div>
		</main>
	</body>
</html>
