<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/header.ejs") %>

		<main>
			<div>
				<a href="/animals/new"><button>Add A New Animal</button></a>
				<% for(animal of animals) { %>
				<article>
					<h2>
						<a href="/animals/<%= animal._id %>"
							><i><%= animal.name %></i></a
						>
					</h2>
					<br />
					<b>Conservation Status:</b> <%= animal.extinct ? "Extinct" : "Existing" %>
                    <br />
					<b>Location:</b> <%= animal.location %>
                    <br />
					<b>Life Expectancy:</b> <%= animal.lifeExpectancy %> Years
				</article>
				<% } %>
			</div>
		</main>
	</body>
</html>
