<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="show-div">
                    <article class="show-article">
                
                            <h2 class="show-name"><i><%= animal.name %></i></h2><br>
                            <b>Species:</b> <%= animal.species %><br>
                            <b>Status:</b> <%= animal.extinct ? "Extinct" : "Alive" %><br>
                            <b>Location:</b> <%= animal.location %><br>
                            <b>Life Expectancy:</b> <%= animal.lifeExpectancy %> Years<br><br>

                            <a class="new-a" href="/animals/<%= animal._id %>/edit">
                               <button>Edit Animal</button>
                            </a>
                            <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
                                <input class="new-a" type="submit" value="Delete" />
                            </form>
                            <a href="/animals/"> 
                                <button class="back">Back To Main Page</button>
                            </a>
                    </article>

            </div>
        </main>
    </body>
</html>